
/* .tabber .tab{
    -fx-background-color: black;
}
.messagging{
    -fx-background-color: black;
}

*/
/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
/*
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}
*/
.button-raised{
   /* -fx-padding: 0.7em 0.57em; */
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: #213B61;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised:hover{
    -fx-background-color: black;
}

.list-view{
    -fx-background-color: #0891CC;
}
.jfx-text-area{
    -fx-background-color: #0891CC;/*TODO: 00BCD4 */

}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill: #000000;
}
.tab{ /* COLORE DEI TABBINI */
    -fx-background-color: #15243C;
}

.jfx-tab-pane{
    -fx-background-color:  #0891CC;
    -fx-font-family: Roboto-Black;
}
.jfx-check-box{
    -fx-checked-color: black;
    -fx-unchecked-color: #15243C;
}
#tabbone {
    -fx-max-width: 400;
    fx-font-family: Roboto;
}
.textArea .content{
    -fx-background-color: #3ED8FF;
}
.logpane .content{
    -fx-background-color: #0891CC;
}
.textF{
    -fx-background-color: #3ED8FF;
}
